[Unit]
Description=Network Startup
Before=basic.target
After=local-fs.target sysinit.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/etc/network.sh

[Install]
WantedBy=basic.target
